<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      {{reciever.displayName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let chat of chatList">
    <ion-label>
      <span [ngClass]="{'pull-right': chat.sender != reciever.mobileNumber}">
        {{chat.msg}}
      </span>
    </ion-label>
  </ion-item>
</ion-content>

<ion-item>
  <ion-input place-holder="Enter Message" [(ngModel)]="message"></ion-input>
  <ion-icon name="send-sharp" (click)="Submit()"></ion-icon>
</ion-item>