<ion-header>
  <ion-toolbar>
    <ion-title>
      Friends
      <span class="pull-right" (click)="findFriend()">Add</span>
      <span class="pull-right" (click)="showRequests()">Requests</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let friend of friends" (click)="openChat(friend)">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>{{friend.displayName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>